/* Font Styles Started */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
/* Font styles Finished */
.food {
  color: #538ffb;
}
.footer-background {
  background-color: #0b0d17;
}
